<div id="wrapper">
    <app-page-header></app-page-header>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
        crossorigin="anonymous">
    <div class="container_myacc">

        <div class="container-account">
            <div class="container-logout">
                <h2>My Account</h2>
                <p>Here you can edit your account`s informations, courses you started and the progress for each one.
                    <br>Contact us at
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=164d55155007ef2b">contact@alexteachme.com</a>, if you need any help.</p>

                <!--<input type="submit" name="logout" id="logout" value="Log Out">-->
                <button type="button" (click)="onLogOut()" id="logout">LOG OUT</button>
            </div>
        </div>
        <!--Account info-->
        <div class="container-info">
            <h2>Account Informations</h2>
            <!-- <div class="container-profile-picture"> -->
            <div class="container-profile-picture">
                <img src="{{file ? file_ : './assets/default.jpg'}}" alt="" width="140" height="140" class="img-profile">

                <input style="display: none;" type="file" (change)="handleFileSelect($event)" name="upload-file" class="upload-file" #fileInput>
                <button type="file" (click)="fileInput.click()" class="upload-file">Upload file</button>
            </div>
            <!-- </div> -->

            <div class="container-user-save-change">
                <div class="info-change-profile-picture">
                    To quickly change your profile picture, just drag&drop an image or upload a file.
                    <br>Image selected, should have maximum 15 MB size.
                </div>
                <!-- Update user & password & email -->
                <form (onSubmit)="updateUserProfile()" #update="ngForm">
                    <div class="account-modifications">
                        <div class=" username">
                            <input class="form-control invalidUsername" type="text" name="username" id="username" [(ngModel)]="wholeName" required pattern="[a-zA-Z ]{1,}"
                                #username="ngModel">
                            <span class="error_data_input" *ngIf="!username.valid && username.touched && username.dirty">Please enter first name and last name with a space between them !!

                            </span>
                        </div>
                        <!-- ////////////// -->
                        <div class="password">
                            <input type="{{showHide ? 'password' : 'text'}}" name="password_log" class="form-control" id="password" placeholder="••••••••••"
                                [(ngModel)]="logUser.password" required #password="ngModel" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$@$&!%*#?,.+_|/]).{8,30}$">
                            <button type="button" (mousedown)="showMyPass()" class="showPassword">
                                <i class="fa {{ showHide ? 'fa-eye-slash' : 'fa-eye'}} style-eye"></i>
                            </button>
                            <span class="error_data_input" *ngIf="!password.valid &&logUser.password&&logUser.password.length &&password.dirty">Please enter at least one: upper-case leter, number, special caracters and minlength 8.
                            </span>

                        </div>

                        <div class="email">
                            <input type="text" name="email" id="email" class="form-control" [(ngModel)]="user.email" required email pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                #email="ngModel">
                            <span class="error_data_input" *ngIf="email.invalid && email.touched ">Please enter a valid email format!</span>
                        </div>
                        <!--Update Button -->
                        <div class="save">
                            <button type="button" name="save" id="save" (click)="updateUserProfile()">Save</button>
                        </div>
                        <!--Reset datas to the old one-->
                        <div class="cancel">
                            <button type="button" name="cancel" id="cancel" (click)="getUserProfile()">Cancel</button>
                        </div>
                    </div>
                </form>
                <!--Courses started-->
            </div>
            <hr class="line">

            <div class="container-head-courses">
                <h2>Started Courses</h2>

                <div class="container-started-courses" *ngFor="let item of courses;let i = index" [hidden]='item.points<= 0'>


                    <div class="container-course-progress">
                        <button type="button" style="display:none" (click)="updateCourseProgress(item)" name="cancel-course" class="cancel-course">x</button>
                        <div class="container-redirect-to-courses" routerLink="/courses">

                            <img src={{item.images}} alt="" width="100" height="100">


                            <p class="small-description">{{item.small_description}}</p>
                            <p class="long-description">{{item.long_description}}</p>

                        </div>
                        <div class="progress-bar" role="progressbar " aria-valuemin="0" aria-valuemax="150" [ngStyle]="{'width' : item.points / 150 * 100 + '%' }">
                        </div>
                        <div class="container-progress-points">
                            <p class="container-points-nr">{{item.points}} points</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>