<app-page-header></app-page-header>

<div class="my-account">
    <p></p>
    <p></p>
    <h2>My Account</h2>
    <p>Here you can edit your account`s informations, courses you started and the progress for each one.Contact us at contact@alexteachme.com, if you need any help.</p>

    <!--<input type="submit" name="logout" id="logout" value="Log Out">-->
    <button type="button" onclick="onLogOut()" id="logout">Log out</button>

    <p></p>
</div>
<div class="account-info">
    <p></p>
    <h2>Account Informations</h2>
  <div>
        <img src="assets/default.jpg" alt="" width="140" height="140" class="img-profile">

        <p class="to-quickly-change-yo">To quickly change your profile picture, just drag&drop an image or upload a file. Image selected, should have maximum 15 MB size.</p>
        <input
          style="display: none;"
          type="file"
          (change)="onFileSelected($event)"
          name="upload-file"
          class="upload-file"
          #fileInput>
        <button type="button" (click)='fileInput.click()' class="upload-file">Upload file</button>
        <div class="username" ng-app="app">
              <div ng-controller = 'MyController as c'>
                  <input type="text" name="username" id="username" value="" name="name" [(ngModel)]="name">

              </div>
            <!--<input type="text" name="username" id="username" value="{{username.value()}}">-->
        </div>
        <div class="password">
           <input type="text" name="password" id="password" value="*********">
        </div>
        <div class="email">
            <input type="text" name="email" id="email" value="email@assist.ro">
        </div>
        <div class="save">
            <input type="submit" name="save" id="save" value="Save">
        </div>
        <div class="cancel">
            <input type="submit" name="cancel" id="cancel" value="Cancel">
        </div>
        <hr class="line">
  </div>
    <h2>Started Courses</h2>
  <div class="info-1">
      <input type="submit" name="cancel-cours" class="cancel-cours" value="X">
      <a>
        <img src="assets/advertising.png" alt="" width="100" height="100" class="img-cours">
      </a>
      <h4>Internet Banner Advertising Most Reliable Forms Of Web Advertising</h4>
      <p class="info-cours-1">In order to discuss the general function of the logo, we must firstly identify and define the environment where this have to fulfill its function.</p>
      <p class="points-1">120</p>
      <p class="points-2">points</p>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-succes" role="progressbar"
         aria-valuemin="0" aria-valuemax="150" style="width:80%">
      <span class="sr-only">100% Complete</span>
    </div>
  </div>
  <div class="info-1">
    <input type="submit" name="cancel-cours" class="cancel-cours" value="X">
      <img src="assets/images.jpeg" alt="" width="100" height="100" class="img-cours">
      <h4>Internet Banner Advertising Most Reliable Forms Of Web Advertising</h4>
      <p class="info-cours-1">In order to discuss the general function of the logo, we must firstly identify and define the environment where this have to fulfill its function.</p>
      <p class="points-1">90</p>
      <p class="points-2">points</p>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar"
         aria-valuemin="0" aria-valuemax="150" style="width:50%">
      <span class="sr-only">100% Complete</span>
    </div>
  </div>
  <div class="info-1">
    <input type="submit" name="cancel-cours" class="cancel-cours" value="X">
      <img src="assets/images.png" alt="" width="100" height="100" class="img-cours">
      <h4>Internet Banner Advertising Most Reliable Forms Of Web Advertising</h4>
      <p class="info-cours-1">In order to discuss the general function of the logo, we must firstly identify and define the environment where this have to fulfill its function.</p>
      <p class="points-1">30</p>
      <p class="points-2">points</p>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-danger" role="progressbar"
         aria-valuemin="0" aria-valuemax="150" style="width:20%">
      <span class="sr-only">100% Complete</span>
    </div>
  </div>

</div>




