.container_allusers{
    min-width: 1000px;
    margin: 0 auto;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 59px;
    background-color: #F6FAFC;
    max-width: 1440px;
    margin: 0 auto;
  }

.users-list{
    width: 100%;
    display: center;
    padding: 0;
}

.users-list li {
    height: 70px;	
    width: 940px;	
    border: 1px solid #EFF1F4;	
    border-radius: 5px;	
    background-color: #FFFFFF;
    list-style-type: none;
    margin:0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.users-list li:hover{
    border: 1px solid #006FFF;	
}

.descList span {
    height: 14px;	
    width: 180px;	
    color: #AEB5BB;		
    font-size: 12px;	
    font-weight: bold;	
    line-height: 14px;
    text-transform: uppercase;
    display: inline-flex;
    margin-left: 34px;
}

.descList{
    text-align: center;
    margin-top: 122px;
    margin-left: 0px;
}

input[type=checkbox]:checked {
    border: 1px solid #006FFF;
}

input[type=checkbox]:hover {
    border: 1px solid #006FFF;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    height: 19px;	
    width: 20px;	
    border: 1px solid #AEB5BB;	
    border-radius: 5px;
    -webkit-appearance:button;
    white-space: nowrap;
    overflow:hidden;
    margin: 23px;
    outline: none;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #006FFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.profilePic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    height: 45px;
    margin-top: -3px;
    margin-left: 23px;
}

.users-list .name{
    height: 19px;	
    width: 200px;	
    color: #4A4A4A;		
    font-size: 16px;	
    font-weight: bold;	
    line-height: 16px;
    margin-left: 12px;
}

.users-list .useremail{
    height: 14px;	width: 121px;	color: #AEB5BB;	font-size: 14px;	line-height: 14px;
    font-weight: 100;
}

.score{
    color: #AEB5BB;
    margin-left:10px;
}

#tags{
    margin-left: 140px;
    width: 18%;
}

.tag{
    height: 22px;	
    width: 80px;	
    border-radius: 5px;	
    background-color: #CCE2FF;
    color: #006FFF;		
    font-size: 12px;	
    line-height: 22px;
    text-align: center;
    padding: 6px;
    margin-left:10px;
}
.datecreated{
    text-transform: uppercase;
    height: 14px;
    width: 80px;
    color: #AEB5BB;		
    font-size: 12px;	
    line-height: 14px;
    margin-left:53px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.editUser {
    display: none;
    position: absolute;	
    border-radius: 5px;
    background-color: #006FFF;
    color:#FFF; 
    font-size:10px;
    z-index: 1;
}

.fa-ellipsis-h{
    font-size: 20px;
    margin-left: 40px;
    color: #AEB5BB;
    margin-top:5px;
}

.editUser ul{
    padding: 10px;
}

.editUser i{
    font-size:11px;
    padding-right: 5px;
    margin-top: -5px;
    width:15px;
}

.editUser li {
    list-style-type: none;
    margin-bottom:3px;
    margin-top: 3px;
    background-color: #006FFF;
    color:#FFF;
    height: 10px;
    max-width:180px;
    border:0;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;  
}

.editUser li:hover{
    border: 0;
    color: #113463;
}

.fa-ellipsis-h:hover{
    color: #006FFF;	
}

.opt:hover .editUser{
    display: block;
}