<!--
  This is the main component displayed to ther user. It is linked to the 'courses'
  page in the navigation bar. It contains some components, including the list of
  courses categories. Every category links to the courses list, by category.
  Categories can be searched through, and there's a link to display more categories.
-->
<app-page-header></app-page-header>
<div class="container_cat">
  <app-hero [title]="categoryTitle"
            [subtitle]="categorySubtitle"></app-hero>

  <div class="container">
    <div class="col-md-8 col-md-offset-2 category_content">
      <div class="row ">
        <div class="col-md-9">
          <input type="text"
                 name=""
                 id=""
                 class="search_input"
                 placeholder="search here..."
                 [(ngModel)]="filteredStatus">
        </div>
        <div class="col-md-3">
          <button type="submit"
                  class="btn btn-search"
                  (click)="search_function()">SEARCH</button>
        </div>
      </div>
    </div>
    <div class="row margin-item">
      <div class="margin-thumbnail">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-content-padding"
             *ngFor="let item of listCategory | search:filteredStatus:'title' | slice:0:[max]  ">
          <div class="list_item">
            <p class="list_title"
               (click)="toCourses(item.id)" id="{{item.id}}" >{{item.title | uppercase}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 discover_section">
        <button *ngIf="max < listCategory.length"
                type="submit"
                class="btn-discover"
                (click)="discoverMore()">Discover more</button>
        <button *ngIf="max > 7"
                type="submit"
                class="btn-discover"
                (click)=" displayLess()">Display less</button>
      </div>
    </div>
    <div class="footer">
      <p class="copy">
        <span s
              class="left">Alexa teach me 2018. </span>All rights reserved
      </p>
      <ul>
        <li>
          <a href="#">Terms Conditions</a>
        </li>
        <li>
          <a href="#">Privacy</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
      </ul>
    </div>
  </div>
</div>