.container_cat{
    background-color: #F6FAFC;
    padding: 27px 70px 18px 120px;
    width: 88%;
  }
  
  /* #wrapper {
    min-height: 100% !important;
    position: relative;
    padding-bottom: 59px;
    background-color: #F6FAFC;
    max-width: 1440px;
    margin: 0 auto;
    min-width: 1002px;
  } */
  
  
  .category_content{
      width: 60%;
      margin: auto;
      height: 350px;
      margin-top: -47px;
      background-color: #FFF;
      border-radius: 5px;
  }
  .search_content{
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 110px;
  }
  .search_input{
    width: 70%;
    background-color: #EFF1F4;
    border: none;
    outline: 0;
    height: 43px;
  }
  .btn-search{
    margin-left: 70px;
    background: #0075F8;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 0 38px;
  }
  .category_list{
    width: 100%;
    margin: auto;
    padding-top: 40px;
    padding-left: 78px;
  }
  .list_item{
    width: 210px;
    height: 140px;
    background: #459ebb;
    border-radius: 5px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .list_title{
    padding-top: 56px;
    font-size: 18px;
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    outline: 0;
  }
  .discover_content{
    text-align: center;
    padding: 25px 0 40px 0;
  }
  .btn-discover{
    border: 1px solid #0076F7;
    border-radius: 5px;
    color: #0076F7;
    font-size: 17px;
    padding: 2px 14px 2px 14px;
    margin-top: 20px;
  }
  ::placeholder{
    padding-left: 10px;
    font-style: italic;
    color: #B3BBC0;
  }