.container_dashboard{
    min-width: 1000px;
    margin: 0 auto;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 59px;
    background-color: #F6FAFC;
    max-width: 1440px;
    margin: 0 auto;
}
