<!--
  This is the component that lists the questions for a chapter. The answers for the
  questions should be checked before being able to pass next. There are links at the
  bottom, that allow navigation to the next' or previous' chapter questions. After
  the last chapter, the link should go to a screen that displays a finalization
  message - this message can be part of this same component.
-->
<div id="wrapper">
  <app-page-header></app-page-header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">

  <div class="container_chapterlist">

    <app-hero id="chapterQuestions" [chapter]="chapter" [chapterTitle]="chapterTitle"></app-hero>

    <div *ngIf="account_role" id="ctrl_admin">
      <div id="right">
        <div class="btn_create" (click)="toggleCreate()">
          <i class="far fa-plus-square" style="margin-top: 8px;"></i>Create
        </div>
        <div id="editdelete">
          <div id="edit">
            <i class="far fa-edit"></i>Edit</div>
          <div id="delete">
            <i class="far fa-trash-alt"></i>Delete</div>
        </div>
      </div>
    </div>

    <div id="curriculum" class="create" *ngIf="createVisible">
      <h1>Q :
        <input type="text" style="max-width:460px;" [(ngModel)]="live_title">
      </h1>
      <p>
        <textarea rows="4" cols="50" placeholder="Description" [(ngModel)]="live_desc"></textarea>
      </p>
      <div style="width:100%;display: flex; ">
        <div class="savebtn" (click)="createNewCourse()">Save</div>
      </div>

    </div>

    <div id="curriculum" *ngIf="live_question ||live_questionTitle">
      <h1>Q: {{live_question}}</h1>
      <ul>
        <li>
          <input type="checkbox" class="chooseAnswer" value="{{live_answer1}}">
        </li>
        <li>
          <input type="checkbox" class="chooseAnswer" value="{{live_answer2}}">
        </li>
        <li>
          <input type="checkbox" class="chooseAnswer" value="{{live_answer3}}">
        </li>
      </ul>
      <div class="startbtn">Start</div>
    </div>

    <div id="curriculum" *ngFor="let item of listCategory | search:filteredStatus:'id' | slice:0:[max]  ">

      <ul class="chapter-question">
        <h1>
          <span>Q:</span>{{item.question}}</h1>
        <div class="answersList">
          <li class="answer">
            <input type="checkbox" class="chooseAnswer">
            <span> {{item.answer1}}</span>
            <hr>
          </li>

          <li class="answer">
            <input type="checkbox" class="chooseAnswer">
            <span> {{item.answer2}}</span>
            <hr>
          </li>

          <li class="answer">
            <input type="checkbox" class="chooseAnswer">
            <span> {{item.answer3}}</span>
          </li>
        </div>
      </ul>

    </div>


  </div>

  <app-footer></app-footer>
</div>