.container_chapterlist{
    margin: 0 auto;
    display: grid;
    padding-bottom: 140px;
    display: block;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
    background-color: #F6FAFC;
    max-width: 1440px;
    margin: 0 auto;
  }

#chapterQuestion{
    height: 390px;
    max-width:1440px;
    background-image: url("../../../../assets/bg_image.png");
    margin: 0 auto;
    width: 100%;
    margin-bottom: 110px;
    display: block;
}


.startbtn:hover,.savebtn:hover,.cancelbtn:hover{
    background: white;
    color:#006FFF;
}
.deletebtn:hover{
    background: red;
    color:#fff;
}

#curriculum{
    min-height: 233px;
    max-width: 780px;
    margin: 0 auto;
    display: block;
    width: 90%;
    height: auto;
    margin-bottom: 27px;
    
}

#curriculum i {
    height: 33px;
    color: #006FFF;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 11px;
    font-style: normal;
    width: 100%;
    text-transform: uppercase;
    display: block;
}

.startbtn{
    height: 29px;
    width: 55px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006fff;
    color: #ffffff;
    padding-top: 3px;
    float: right;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    margin: 19px;
}
.deletebtn{
    height: 29px;
    width: 55px;
    border: 1px solid red;
    color: red;
    float: right;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    margin: 19px;
}
#fullbtn{
    height: 29px;	width: 204px;
    border: 1px solid #006FFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#006FFF;
    margin:0 auto;
    cursor: pointer;
    font-size: 16px;
}

#fullbtn:hover{
    background: #006FFF;
    color:#fff;
}

#curriculum p{
    color: #AEB5BB;	
}

@media only screen and (min-width: 910px) {    
 
    
    #curriculum p{
        height: 69px;	
        max-width: 699px;	
        color: #AEB5BB;	
        font-size: 14px;	
        line-height: 23px;
        float:left;
        min-width: 699px;
    }

    

}

@media only screen and (max-width: 909px) {


   

    .startbtn{
       margin-left: 0px;
    }

    #curriculum i {
        text-align: center;
    }
    

}

@media only screen and (max-width: 500px) {



    .startbtn{
        float: none !important;
        margin: 0 auto;
    }

    #right{float:none !important;margin: 0 auto !important;width: 232px;}
}

#ctrl_admin{
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 42px;
    text-align: right;
    display: block;
    min-height: 32px;
    margin-top: 81px;
    /* margin-left: 4px; */
}

.btn_create{
    line-height: 0px;
    width: 79px;
    border-radius: 5px;
    background-color: #006FFF;
    color: #fff;
    text-align: center;
    padding-bottom: 7px;
    cursor: pointer;
}

.btn_create:hover{
    background-color: #5fa5ff;
}

#ctrl_admin i{
    margin-right:5px;
    margin-top: 7px;
    font-size: 13px;
}

#editdelete{
    height: 28px;	
    width: 139px;	
    border: 1px solid #06102B;	
    border-radius: 5px;
    margin-left:12px;
    display: flex;
    color: #7D8492;
 
}

#editdelete div{
    width: 100%;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 0px;
    width: 79px;
    cursor: pointer;
}
#editdelete div:hover{
   color:#000;
}

#edit{border-right: 1px solid #7D8492;}

#right{
    display: flex;
    float:right;
}

.create{
    border: 1px solid #006FFF;
    border-radius: 5px;
    padding: 20px;
    /* border-bottom: 1px solid #006FFF !important; */
}
.create h1{
    color: #000;
}

.savebtn,.cancelbtn{
    height: 29px;
    width: 68px;
    border: 1px solid #006FFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006FFF;
    padding-top: 3px;
    float: left;
    font-size: 16px;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: -21px;
    outline: none;
    background-color:transparent;
}
.savebtn{margin-right:10px;}

input[type=text]{
    outline: none;
    border: 0;
    /* border-bottom: 1px solid #006FFF; */
    background-color:#F6FAFC;
    height: 24px;
    width: 100%;
}
savebtn:disabled,
button[disabled],button[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  outline: none;
  cursor: not-allowed;
}


h1 .edit{
    max-width: 700px;
    border-radius: 4px;
    border: 1px dashed #b0b0b7;
    padding: 19px 33px 15px 12px;
}

.iedit{
    max-width: 700px;
    border-radius: 4px;
    border: 1px dashed #b0b0b7;
    padding: 5px 33px 15px 12px;
}

.pedit{
    border-radius: 4px;
    border: 1px dashed #b0b0b7;
    padding: 5px 33px 15px 12px;
    
}

.activeopt{
    background: #006fff;
    color: #fff;
}
.activeoptdelete{
    background: red;
    color: #fff;
}

.del{
    border:1px solid red !important
}

#notification{
    max-width: 812px;
    margin: 0 auto;
    margin-bottom: 35px;
    line-height: 43px;
    padding: 2px 2px 2px 22px;
    color: #000;
    border:1px solid;
    /* background: #ec1f1f; */
    border-radius: 6px;
}
textarea{
    background-color: #F6FAFC;
    outline: none;
    border: 1px solid #d6dce4;
    width: 100%;
    margin: 0 auto;
    display: block;
    resize: none;
    height: 68px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}
.chapter-question{
    max-width: 780px;
    min-height: 272px;
    padding: 0px;
    list-style: none;

}
.chapter-question h1{
    line-height: 70px !important;
    max-width: 780px;	
    border-radius: 5px;	
    background-color: #006FFF;
    margin: 0;
  color: #FFFFFF;	font-size: 18px;	font-weight: bold;	line-height: 21px;

}
.editChapter{
    max-width: 780px;
    min-height: 272px;
    padding: 0px;
    list-style: none;
}
.editChapter h1{
    line-height: 70px !important;
    max-width: 780px;	
    border-radius: 5px;	
    background-color: #006FFF;
    margin: 0 auto;
    color: #FFFFFF;	font-size: 18px;	font-weight: bold;	line-height: 21px;
}
.answersList{
    min-height: 191px;
    margin-top: 11px;
    border: 1px solid #D1D5D8;
    border-radius: 5px;	
    padding-left: 21px;
    overflow: hidden;
}
.answer{
    line-height: 64px;
    font-size: 18px;
    color: #AEB5BB;	
}
hr{
    margin: 0;
    padding: 0 !important;
    width: 200% !important;
    margin-left: -47px;
}

.chapter-question span{
    margin-right: 1.6%;
    margin-left: 25px;
}

.editChapter span {
    margin-right: 1.6%;
    margin-left: 25px;
}



input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    height: 19px;	
    width: 20px;	
    border: 1px solid #AEB5BB;	
    border-radius: 5px;
    -webkit-appearance:button;
    white-space: nowrap;
    overflow:hidden;
    margin-top: 23px;
    outline: none;  
    
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
     
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

input:checked {
    background-color: #006FFF !important;
    color: #fff;
    border: 1px solid #006FFF;
}

.answer span{margin-left: 36px !important;}

.live_answer{
    font-size: 20px;

}
.live_question{
    font-size: 25px;
    max-width: 680px;
}
.prev-next{
    max-width: 780px;
    margin: 0 auto;
    width: 90%
}
.nextChapter{
    height: 29px;	width: 114px;	border: 1px solid #006FFF;	border-radius: 5px;
    background-color: white;
    color: #006fff;
}
.prevChapter{
    height: 29px;
    width: 140px;
    border: 1px solid #006FFF;
    border-radius: 5px;
    margin-right: 7px;
    background-color: white;
    color: #006fff;
}
.nextChapter:hover, .prevChapter:hover{
    background-color: #006fff;
    color: white;
}
.set-prev-next{
    float: right;
}
