.banner{
  background-image: url('../../../../assets/bg_image.png');
  background-size: cover;
  background-color: #1d263c;
  height: 390px;
  width: 100%;
  text-align: center;
  padding-top: 160px;
}
.title{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.subtitle{
  color: gray;
  font-size: 17px;
}