<!--
  This is the course list component. It lists the courses that it's being passed
  as Input(). For a user, it displays the courses of a given category. Every course
  can be opened separately by navigating to the specific course route, by id. While
  used for the admin - this component displays all the courses and offers the ability
  to create a new course, edit or remove an existing course.
-->

<app-page-header></app-page-header>
<div class="container_courses">
  <app-hero [title]="courseTitle"
            [subtitle]="courseSubtitle"></app-hero>
  <div class="container container_content"
       id="tourpackages-carousel">
    <div class="col-md-8 col-md-offset-2 category_content"
         *ngIf="!admin_role">
      <div class="row ">
        <div class="col-md-9">
          <input type="text"
                 name=""
                 id=""
                 class="search_input"
                 placeholder="search here..."
                 [(ngModel)]="filteredStatus">
        </div>
        <div class="col-md-3">
          <button type="submit"
                  class="btn btn-search"
                  (click)="search_function()">SEARCH</button>
        </div>
      </div>
    </div>
    <div class="row margin-row">
      <div class="row"
           *ngIf="admin_role">
        <div class="col-sm-12">
          <div class="admin_buttons">
            <div class="btn_create"
                 (click)="createCourse()">
              <i class="far fa-plus-square"
                 style="margin-top: 8px; padding-right: 5px; "></i>Create
            </div>
            <div id="editdelete">
              <div class="space-edit-delete"
                   id="edit"
                   (click)="editCourse()">
                <i class="far fa-edit"></i>Edit</div>
              <div class="space-edit-delete"
                   id="delete"
                   (click)="deleteCourse()">
                <i class="far fa-trash-alt"></i>Delete</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row"
           *ngIf="editMode">
        <div class="col-sm-6 col-sm-offset-3 newCategory">
          <div class="card"
               style="width: 100%;">
            <div class="card-body">
              <h5 class="card-title">COURSE TITLE</h5>
              <input type="text"
                     name=""
                     id=""
                     class="form-control">
              <h5 class="card-title">IMAGE URL</h5>
              <input type="text"
                     name=""
                     id=""
                     class="form-control"
                     [(ngModel)]="image_url">
              <img src="{{image_url}}"
                   alt=""
                   width="310px"
                   height="200px"
                   style="padding-top: 10px;
                   margin-left: 90px;">
              <h5 class="card-title">DESCRIPTION</h5>
              <textarea class="form-control"
                        name=""
                        id=""
                        cols="5"
                        rows="5"></textarea>
              <div class="card_buttons">
                <div class="space-edit-delete"
                     id="save"
                     (click)="saveCourse()">
                  <i style="padding-right: 5px;"
                     class="far fa-save"></i>Save</div>
                <div class="space-edit-delete"
                     id="cancel"
                     (click)="cancel()">
                  <i style="padding-right: 5px;"
                     class="fa fa-close"></i>Cancel</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="admin_role">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
             *ngFor="let item of course  | search:filteredStatus:'small_description' | slice:0:[max]">
          <div class="thumbnail">
            <img src="{{item.images}}"
                 alt=""
                 class="course_img img-responsive">
            <div class="caption">
              <p class="course_title"> {{item.small_description | slice:0:100 }} </p>
              <p class="course_description"> {{item.long_description | slice:0:200}} </p>
              <p class="buttom-btn">
                <a class="course_btn"
                   *ngIf="!editClick"
                   role="button"
                   (click)="chapterByCourseId(item.id)"> {{item.tags}} </a>
                <a class="course_btn"
                   *ngIf="editClick"
                   role="button"
                   (click)="openEdit()"> EDIT </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 discover_section">
        <button *ngIf="max == 2"
                type="submit"
                class="btn-discover"
                (click)="discoverMore()">Discover more</button>
        <button *ngIf="max > 2"
                type="submit"
                class="btn-discover"
                (click)=" displayLess()">Display less</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="copy">
      <span s
            class="left">Alexa teach me 2018. </span>All rights reserved
    </p>
    <ul>
      <li>
        <a href="#">Terms Conditions</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Support</a>
      </li>
    </ul>
  </div>
</div>