<!--
  This is the course list component. It lists the courses that it's being passed
  as Input(). For a user, it displays the courses of a given category. Every course
  can be opened separately by navigating to the specific course route, by id. While
  used for the admin - this component displays all the courses and offers the ability
  to create a new course, edit or remove an existing course.
-->

<app-page-header></app-page-header>
<div class="container_courses">
  <app-hero [title]="courseTitle" [subtitle]="courseSubtitle"></app-hero>
  <div class="container container_content" id="tourpackages-carousel">
      <div class="row margin-row" >
        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let item of course">
          <div class="thumbnail">
            <img src="{{item.images}}" alt="" class="course_img img-responsive">
              <div class="caption">
                <p class="course_title"> {{item.small_description}} </p>
                <p class="course_description" > {{item.long_description}} </p>
                <p class="buttom-btn" ><a href="#" class="course_btn" role="button"> {{item.tags}} </a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 discover_section">
          <button type="submit" class="btn-discover" >Discover more</button>
        </div>
      </div>
  </div>
  <div class="footer">
    <p class="copy">
      <span s class="left">Alexa teach me 2018. </span>All rights reserved
    </p>
    <ul>
      <li><a href="#">Terms Conditions</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Support</a></li>
    </ul>
  </div>
</div>

