.wrapper{
  /* margin: 350px auto; */
  background-image: url('../../../../assets/bg_image.png');
  background-color: #081531;
  height: 1055px;	
  width: 100%;
}
.content{
  padding-top: 350px;
}
.left-side{
  float: left;
  width: 55%;
  margin-top: 70px;
}
.right-side{
  float: left;
  width: 30%;
}

.sign-btn{
  margin-top: 33px;
  height: 45px;
  width: 300px;
  border-radius: 5px;	
  background-color: #006FFF;
  color: #F7F7F7;	
  font-size: 18px;	
  font-weight: bold;	
  line-height: 24px;	
  text-align: center;
}
.sign-up{
  border-radius: 5px;	
  background-color: #006FFF;
  color: #F7F7F7;	
  font-size: 18px;	
  font-weight: bold;	
  line-height: 11px;	
  text-align: center;
  
}
.text-account{
  font-size: 18px;
  color: #FFF;
  padding-right: 15px;
}
.space-between{
  margin-top: 5px;
}
.rectangle{
  height: 45px;
  border: 1px solid #AEB5BB;	
  border-radius: 5px;	
  background-color: #FFFFFF;
  width: 300px;
}
.banner-title{
  /* font-family: Roboto;	 */
  font-size: 20px;	
  line-height: 26px;	
  text-align: center;
  color: gray;
}
.login-to{
  /* font-family: Roboto;	 */
  font-size: 36px;
  line-height: 30px;	
  text-align: center;
  color: #FFF;
}
.forgot{
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  color: #ffffff;
}
.to-sign-up{
  display: inline-flex;
  width: 100%;
  padding-top: 260px;
  padding-left: 480px;
}
a{
  color: #F7F7F7;
  text-decoration: underline;
}
a:hover{
  cursor: pointer;
}
::placeholder { 
  color: #AEB5BB;;
  font-size: 18px;
  padding-left: 10px;
}
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
.terms{
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.agree{
  width: 65px;
  margin-top: 17px;
}
