<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper">
  <!-- login page -->
  <div class="container content"
       *ngIf="loginContent">
    <div class="row">
      <div class="col-md-12"
           style="margin-left: 65px;">
        <div class="col-md-5"
             style="padding-top: 75px;">
          <p class="title">Welcome back</p>
          <p class="subtitle">Login to your account</p>
        </div>
        <form (ngSubmit)="loginUser()"
              #login="ngForm">
          <div class="col-md-7">
            <span class="help-block"
                  style="color: white"> {{message}}</span>
            <div style="display: flex;">
              <input type="email"
                     name="email_log"
                     id="email_log"
                     class="rectangle form-control"
                     placeholder="email address"
                     [(ngModel)]="logUser.email"
                     required
                     email
                     #email="ngModel">
              <span class="error_message"
                    *ngIf="!email.valid && email.touched ">Please enter a email address!</span>
            </div>
            <div class="display_eye">
              <input *ngIf="showPassword"
                     type="password"
                     name="password_log"
                     id="password_log"
                     class="rectangle sec-rectangle form-control space-between "
                     placeholder="••••••••••"
                     [(ngModel)]="logUser.password"
                     required
                     #pass="ngModel"
                     minlength="5">
              <input *ngIf="!showPassword"
                     type="text"
                     name="password_log"
                     id="password_log2"
                     class="rectangle sec-rectangle form-control space-between "
                     placeholder="••••••••••"
                     [(ngModel)]="logUser.password"
                     required
                     #pass2="ngModel"
                     minlength="5">
              <button type="button"
                      (click)="toggleShowPassword()"
                      class="showPassword">
                <i class="fa {{ showPassword ? 'fa-eye' : 'fa-eye-slash'}} style-eye"></i>
              </button>
              <!-- <span class="error_message" *ngIf="! pass.valid &&  pass.touched ">Please enter a password!</span> -->
            </div>
            <button type="submit"
                    class="btn btn-primary form-control sign-btn"
                    [disabled]="!login.valid">SIGN IN</button>
            <p class="forgot">Forgot password?
              <a (click)="manageForms(false, false, true)">Reset it</a>
            </p>
          </div>

        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 to-sign-up">
        <p class="text-account">Don't have an account?</p>
        <button type="submit"
                class="btn btn-primary  sign-up"
                (click)="manageForms(false,true, false)">Sign up</button>
      </div>
    </div>
  </div>

  <!--  reset password -->

  <div class="container content"
       *ngIf="resetContent">

    <div class="row">
      <div class="col-md-12"
           style="margin-left: 65px;">
        <div class="col-md-5"
             style="padding-top: 75px;">
          <p class="title">Your're sorry</p>
          <p class="subtitle">Let's reset your password</p>
        </div>
        <form (ngSubmit)="fakeResetPassword()"
              #reset="ngForm">
          <div class="col-md-7">
            <span class="help-block"
                  style="color: white"> {{message}}</span>
            <div style="display: flex;">
              <input type="email"
                     name="email_reset"
                     id="email_reset"
                     class="rectangle form-control"
                     placeholder="email address"
                     [(ngModel)]="resetUser.email"
                     required
                     email
                     #email_reset="ngModel">
              <span class="error_message"
                    *ngIf="!email_reset.valid && email_reset.touched ">Please enter a email address!</span>
            </div>
            <div style="display: flex;">
              <input type="password"
                     name="new_password"
                     id="new_password"
                     class="rectangle form-control"
                     placeholder="new password "
                     [(ngModel)]="resetUser.password"
                     required
                     #new_pass="ngModel">
              <span class="error_message"
                    *ngIf="!new_pass.valid && new_pass.touched "
                    style="color: white">Enter a new password!</span>
            </div>
            <div style="display: flex;">
              <input type="password"
                     name="confirm_password"
                     id="confirm_password"
                     class="rectangle sec-rectangle form-control space-between"
                     placeholder="confirm password"
                     ngModel
                     required
                     #confirm_pass="ngModel">
              <span class="error_message"
                    *ngIf="! confirm_pass.valid &&  confirm_pass.touched "
                    style="color: white">Enter the confirm password!</span>
            </div>
            <button type="submit"
                    class="btn btn-primary form-control sign-btn"
                    [disabled]="!reset.valid">RESET PASSWORD</button>
            <div class="row">
              <input type="checkbox"
                     name="agree"
                     id="agree"
                     class="agree"
                     ngModel
                     required>
              <label class="terms">I agree with Terms & Conditions</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 to-sign-up">
        <p class="text-account">You don't want to reset password?</p>
        <button type="submit"
                class="btn btn-primary  sign-up"
                (click)="manageForms(true,false,false)">Login</button>
      </div>
    </div>
  </div>

  <!-- create a new account -->

  <div class="container content"
       *ngIf="registerContent">

    <div class="row">
      <div class="col-md-12"
           style="margin-left: 65px;">
        <div class="col-md-5"
             style="padding-top: 75px;">
          <p class="title">Your're one step closer</p>
          <p class="subtitle">Create a new account</p>
        </div>
        <form (ngSubmit)="registerUser()"
              #create="ngForm">
          <div class="col-md-7">
            <span class="help-block"
                  style="color: white"> {{message}}</span>
            <div style="display: flex;">
              <input type="text"
                     name="first_name"
                     id="first_name"
                     class="rectangle form-control"
                     placeholder="first name "
                     [(ngModel)]="myUserData.name"
                     required
                     #first_name="ngModel"
                     pattern="[a-zA-Z ]*">
              <span class="error_message"
                    *ngIf="!first_name.valid && first_name.touched "
                    style="color: white">First name must contains just caracters!</span>
            </div>
            <div style="display: flex;">
              <input type="text"
                     name="last_name"
                     id="last_name"
                     class="rectangle form-control space-between "
                     placeholder="last name"
                     [(ngModel)]="myUserData.last_name"
                     required
                     #last_name="ngModel"
                     pattern="[a-zA-Z ]*">
              <span class="error_message"
                    *ngIf="!last_name.valid && last_name.touched "
                    style="color: white">Last name must contains just caracters!</span>
            </div>
            <div style="display: flex;">
              <input type="email"
                     name="email_register"
                     id="email_register"
                     class="rectangle form-control space-between "
                     placeholder="email"
                     [(ngModel)]="myUserData.email"
                     required
                     #email_register="ngModel"
                     email>
              <span class="error_message"
                    *ngIf="!email_register.valid && email_register.touched "
                    style="color: white">Please enter a email address!</span>
            </div>
            <div style="display: flex;">
              <input *ngIf="showPassword"
                     type="password"
                     name="password_register"
                     id="password_register"
                     class="rectangle sec-rectangle form-control space-between "
                     placeholder="••••••••••"
                     [(ngModel)]="myUserData.password"
                     required
                     minlength="8"
                     #password_register="ngModel">
              <input *ngIf="!showPassword"
                     type="text"
                     name="password_register"
                     id="password_register"
                     class="rectangle sec-rectangle form-control space-between "
                     placeholder="••••••••••"
                     [(ngModel)]="myUserData.password"
                     required
                     minlength="8"
                     #password_register="ngModel">
              <button type="button"
                      (click)="toggleShowPassword()"
                      class="showPassword">
                <i class="fa {{ showPassword ? 'fa-eye' : 'fa-eye-slash'}} style-eye"></i>
              </button>
              <!-- <span class="error_message" *ngIf="! password_register.valid &&  password_register.touched " style="color: white">Please enter a password!</span> -->
            </div>

            <button type="submit"
                    class="btn btn-primary form-control sign-btn"
                    [disabled]="!create.valid">CREATE ACCOUNT</button>
            <div class="row">
              <input type="checkbox"
                     name="agree_terms"
                     id="agree_terms"
                     class="agree"
                     ngModel
                     required>
              <label class="terms">I agree with Terms & Conditions</label>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-4 to-sign-up">
        <p class="text-account">You have already an account?</p>
        <button type="submit"
                class="btn btn-primary  sign-up"
                (click)="manageForms(true,false,false)">Login</button>
      </div>
    </div>
  </div>
</div>