<!--
  This is the component that lists the users of the website. It can be accessed
  only by the admin and occurs when the admin clicks the 'users' link in the
  navigation menu.
  Every user can be edited, duplicated, removed or his role may be changed.
  There's also a possibility to create a new user.
-->
<div id="wrapper">
  <app-page-header></app-page-header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  
  <div class="container_chapterlist">
    <app-hero id="banner" [category]="listCategory[1].category" [title]="categoryTitle" [subtitle]="categorySubtitle"></app-hero>
    <div *ngIf="account_role" id="ctrl_admin">  
      <div id="right">
        <div class="btn_create" (click)="toggleCreate()">
          <i class="far fa-plus-square" style="margin-top: 8px;"></i>Create
        </div>
        <div id="editdelete">
          <div id="edit"><i class="far fa-edit"></i>Edit</div>
          <div id="delete"><i class="far fa-trash-alt"></i>Delete</div>
        </div>
      </div>
     </div>

    <div id="curriculum" class="create" *ngIf="createVisible">
      <i>Chapter : <input type="text" style="width:20px;" [(ngModel)]="live_chapter"></i>
      <h1>Title :  <input type="text" style="max-width:460px;" [(ngModel)]="live_title"></h1>
      <p>
         <textarea rows="4" cols="50" placeholder="Description" [(ngModel)]="live_desc"></textarea>
      </p>
      <div style="width:100%;display: flex; ">
          <div class="savebtn" (click)="createNewCourse()">Save</div>
      </div>

    </div>
    
    <div id="curriculum"  *ngIf="live_title ||live_chapter || live_desc ">
        <i>Chapter {{live_chapter}}</i>
        <h1>{{live_title}}</h1>
        <p>
            {{live_desc}}
        </p>
        <div class="startbtn">Start</div>
    </div>

    <div id="curriculum"  *ngFor="let item of listCategory | search:filteredStatus:'id' | slice:0:[max]  ">
      <i>Chapter {{item.chapter}}</i>
      <h1>{{item.title}}</h1>
      <p>
          {{item.shortdesc}}
      </p>
      <div class="startbtn">Start</div>
    </div>
  
    <div id="fullbtn" (click)="fullCuriculum()">See the full curriculum</div>

  </div>

  <app-footer></app-footer>
</div>