.container_chapterlist{
    margin: 0 auto;
    display: grid;
    padding-bottom: 140px;
    display: block;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
    background-color: #F6FAFC;
    max-width: 1440px;
    margin: 0 auto;
  }

#banner{
    height: 390px;
    max-width:1440px;
    background-image: url("../../../../assets/bg_image.png");
    margin: 0 auto;
    width: 100%;
    margin-bottom: 110px;
    display: block;
}


.startbtn:hover,.savebtn:hover,.cancelbtn:hover,.deletebtn:hover{
    background: #006FFF;
    color:#fff;
}

#curriculum{
    border-bottom: 1px solid #EFF1F4;
    min-height: 180px;
    max-width: 812px;
    margin: 0 auto;
    padding-bottom: 35px;
    margin-bottom: 60px;
    display: block;
    width: 90%;
    height: auto;
    
}

#curriculum i {
    height: 33px;
    color: #006FFF;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1.1px;
    line-height: 11px;
    font-style: normal;
    width: 100%;
    text-transform: uppercase;
    display: block;
}

.startbtn,.deletebtn{
    height: 29px;	
    width: 55px;
    border: 1px solid #006FFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#006FFF;
    padding-top: 3px;
    float:left;
    margin-left: 33px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
   
}

#fullbtn{
    height: 29px;	width: 204px;
    border: 1px solid #006FFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#006FFF;
    margin:0 auto;
    cursor: pointer;
    font-size: 16px;
}

#fullbtn:hover{
    background: #006FFF;
    color:#fff;
}

#curriculum p{
    color: #AEB5BB;	
}

@media only screen and (min-width: 910px) {    

    #curriculum h1{
        height: 33px;
        /* width: 812px; */
        color: #06102B;
        font-size: 24px;
        font-weight: bold;
        line-height: 38px;
        margin: 0;
        display: block;
    }
    
    #curriculum p{
        height: 69px;	
        max-width: 699px;	
        color: #AEB5BB;	
        font-size: 14px;	
        line-height: 23px;
        float:left;
        min-width: 699px;
    }
    

}

@media only screen and (max-width: 909px) {
    #curriculum h1{
        font-size: 25px;
        font-weight: bold;
        line-height: 31px;
        margin: 0;
        display: block;
        padding-bottom: 20px;
    }

    .startbtn{
       margin-left: 0px;
    }

    #curriculum i {
        text-align: center;
    }

}

@media only screen and (max-width: 500px) {

    #curriculum h1{
        font-size: 19px !important;
        line-height: 22px !important;
    }

    .startbtn{
        float: none !important;
        margin: 0 auto;
    }

    #right{float:none !important;margin: 0 auto !important;width: 232px;}
}

#ctrl_admin{
    max-width: 812px;
    margin: 0 auto;
    margin-bottom: 42px;
    text-align: right;
    display: block;
    min-height: 32px;
}

.btn_create{
    line-height: 0px;
    width: 79px;
    border-radius: 5px;
    background-color: #006FFF;
    color: #fff;
    text-align: center;
    padding-bottom: 7px;
    cursor: pointer;
}

.btn_create:hover{
    background-color: #5fa5ff;
}

#ctrl_admin i{
    margin-right:5px;
    margin-top: 7px;
    font-size: 13px;
}

#editdelete{
    height: 28px;	
    width: 139px;	
    border: 1px solid #06102B;	
    border-radius: 5px;
    margin-left:12px;
    display: flex;
    color: #7D8492;
 
}

#editdelete div{
    width: 100%;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 0px;
    width: 79px;
    cursor: pointer;
}
#editdelete div:hover{
   color:#000;
}

#edit{border-right: 1px solid #7D8492;}

#right{
    display: flex;
    float:right;
    margin-right: 25px;
}

.create{
    border: 1px solid #006FFF;
    border-radius: 5px;
    padding: 20px;
    border-bottom: 1px solid #006FFF !important;
}

.savebtn,.cancelbtn{
    height: 29px;
    width: 68px;
    border: 1px solid #006FFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006FFF;
    padding-top: 3px;
    float: left;
    font-size: 16px;
    cursor: pointer;
    margin-top: 13px;
    margin-bottom: -21px;
    outline: none;
    background-color:transparent;
}

.savebtn{margin-right:10px;}

input[type=text]{
    outline: none;
    border: 0;
    border-bottom: 1px solid #006FFF;
    background-color:#F6FAFC;
    height: 24px;
    width: 100%;
}

textarea{
    background-color: #F6FAFC;
    outline: none;
    border: 1px solid #d6dce4;
    width: 100%;
    margin: 0 auto;
    display: block;
    resize: none;
    height: 68px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
}

savebtn:disabled,
button[disabled],button[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  outline: none;
  cursor: not-allowed;
}


h1 .edit{
    max-width: 700px;
    border-radius: 4px;
    border: 1px dashed #b0b0b7;
    padding: 19px 33px 15px 12px;
}

.iedit{
    max-width: 700px;
    border-radius: 4px;
    border: 1px dashed #b0b0b7;
    padding: 5px 33px 15px 12px;
}

.pedit{
    border-radius: 4px;
    border: 1px dashed #b0b0b7;
    padding: 5px 33px 15px 12px;
    
}

.activeopt{
    background: #006fff;
    color: #fff;
}