<!--
  This is the component that lists the users of the website. It can be accessed
  only by the admin and occurs when the admin clicks the 'users' link in the
  navigation menu.
  Every user can be edited, duplicated, removed or his role may be changed.
  There's also a possibility to create a new user.
-->
<div id="wrapper">
  <app-page-header></app-page-header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  
  <div class="container_chapterlist">
    1234
  </div>

  <app-footer></app-footer>
</div>