.footer {	
    height: 59px;	
    max-width: 1440px;	
    background-color: #F7F7F7;
    margin:0 auto;
    border-color: #e7e7e7;
    padding: 0 120px 0 120px;
    font-family: Arial;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 6px;
    padding-top: 22px;
    min-width: 520px;
}


li{
    text-decoration: none;
    display: inline-flex;
    margin-right: 15px;
    
}

.left{
    font-weight: bold;
}

.footer a{
    color: #AEB5BB;
    text-decoration: none;
}


.copy {	
    text-align: center;
    width: 222px;	
    color: #AEB5BB;
    font-size: 12px;	
    width: 100%;
}

ul{
    width:100%;
    text-align: center;
    color: #AEB5BB;		
    font-size: 12px;	
    margin-left: -12px;
}

@media only screen and (min-width: 1000px) {
    .copy {	
        height: 14px;	
        width: 222px;	
        color: #AEB5BB;
        font-size: 12px;	
        line-height: 66px;
        margin-left:120px;
        text-align: left;
    }
    ul{
        float: right;
        height: 14px;	
        width: 405px;	
        color: #AEB5BB;		
        font-size: 12px;	
        line-height: 14px;
        margin-right: -20px;
    }
    .footer {	
      
        padding-top:0;
    }
 }